body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}


.main-content{
	min-height: 300px;
	height: auto !important;
}

.footer-custom{
	bottom: 0;
}