<h3>{{title}}</h3>
<div>
	<table class="highlight">
	  <thead>
	    <tr>
	        <th data-field="date">Date</th>
	        <th data-field="messageName">Message Name</th>
	        <th data-field="messageID">Message ID</th>
	        <th data-field="queue">Queue</th>
	        <th data-field="source">Source</th>
	        <th data-field="processTime">Total Process Time</th>
	        <th></th>
	    </tr>
	  </thead>
	
	  <tbody ng-repeat="item in resultSet.searchResults.list.data | limitTo:3">
 	    <tr>
	      <td>{{item.auditDate | date:'fullDate'}}</td>
	      <td>{{item.messageName}}</td>
	      <td>{{item.messageid}}</td>
	      <td>{{item.queue}}</td>
	      <td>{{item.sourceApplication}}</td>
	      <td>{{item.processTime}}</td>
	    </tr>
	  </tbody>
	</table>
	<a class="btn green" ng-click="GoToState('search')">back</a> .
</div>