<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>  
    
    <ul><li ng-repeat="dog in dogs">{{dog}}</li></ul>
    
    <a ui-sref=".about" class="btn btn-primary">About</a>
    
    <div class="row">
	    <!-- COLUMN ONE NAMED VIEW -->
	    <div class="col-sm-6">
	        <div ui-view="columnOne"></div>
	    </div>
	    
	    <!-- COLUMN TWO NAMED VIEW -->
	    <div class="col-sm-6">
	        <div ui-view="columnTwo"></div>
	    </div>
    </div>
</div>